.container-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.category {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.product-container {
  margin-top: 30px !important;
}

.product-list {
  margin-bottom: 20px;
}

.product {
  text-align: center;
}

.product-image img {
  width: 230px;
  height: 300px;
}

.product-name {
  margin-top: 20px;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-value {
  margin-left: 5px; /* Khoảng cách giữa rating component và giá trị rating */
}

.product-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.product-pagination button {
  width: 5%;
}

h2 {
  font-size: 24px;
  color: #333;
}

.category div {
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.category div:hover {
  background-color: #ccc;
}
