.banner-section {
  position: relative;
  height: 500px; /* hoáº·c 600px */
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.carousel-container {
  position: relative;
}

.custom-height {
  height: 100%;
}

.banner {
  width: 100%;
  height: 100%;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel .slider-wrapper {
  transition: all 0.6s ease-in-out;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-arrow {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  transition: color 0.3s ease;
}

.carousel-arrow:hover {
  color: #c4c4c4;
}

.carousel-arrow-left {
  margin-left: 10px;
}

.carousel-arrow-right {
  margin-right: 10px;
}
